@model Usuario

@{
  ViewData["Layout"] = "Pedidos";
}

<!--
<p class="img">


<figure id="titulo">

  <form asp-action="Cadastro" method="POST">
    <p>
      <input asp-for="nome" placeholder="Pesquisa " />
    </p>
  </form>
</figure>

</p>



     <div class="gallery">

      <figure class="item">

       <h1><img src="/img/item-3.jpg"></h1>
      </figure>



  </p>
</div>  


  <div class="controls">

    <a href="#item-3" class="control-button">.</a>
  </div>
</div>




<div class="polaroid">
  <img src="img/item-2.jpg" alt="5 Terre" style="width:10%">
  <div class="container">
    <p>Cinque Terre</p>
  </div>
</div>

<div class="polaroid">
  <img src="img/item-1.jpg" alt="Norther Lights" style="width:10%">
  <div class="container">
    <p>Northern Lights</p>
  </div>
</div>-->
<!doctyper html>
  <html lang="pt-br">

  <meta charset="utf-8">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FinallyFree</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/log.css" />
    <link rel="stylesheet" href="~/css/free.css" />
   

  </head>

  <body id="solucao">
    <h1 id="palavra">
      FinallyFree
    </h1>


    <header>
      <figure id="titulo">

        <form method="POST">
          <p id="pagina">
            <input placeholder="Pesquisa " />
          </p>
        </form>
      </figure>

    </header>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div id="atencao">
      <div class="itens">
        <p id="item-1"><img src="img/item-1.jpg" alt="Praias" style="width:100%" /></p>
        <div class="partebranca">
          <p>Praias</p>
        </div>
      </div>

      <div class="itens">
        <p id="item-2"><img src="img/item-6.jpg" alt="Romance" style="width:100%"></p>
        <div class="partebranca">
          <p>Romance</p>
        </div>
      </div>

      <div class="itens">
        <p id="item-3">
          <img src="img/item-2.jpg" alt="Lugares lindos" style="width:100%">
        </p>
        <div class="partebranca">
          <p>Lugares lindos</p>
        </div>
      </div>
    </div>
     <footer class="roda">
            Contados:00.00 0000 0000 </br> Via email: programacaopj@gmail.com 
                  </footer>
  </body>

  </html>
