#lista{
  background-color: rgba(red, green, blue, alpha);
    text-align: center;
    width: 100%;  
}
tr{
    width: 100%;
}

 
 th, td{
     
     color: black;
     background-color: rgba(red, green, blue, alpha)
 }
 #title{
     background-color: yellow;
     color: black
 }

#corpo{
    background-image: url("/img/caderno.jpg");
  
}
#usuario{
    color:black;
    font-size: 60px;
    text-align: center;
}
#branca{
    
        background-image: url("/img/caderno.jpg");
}

input[type=submit]{
    border: none;
    cursor: pointer;
     font-family: arial;
     margin-top: 0%;
     width:120px;
     height: 40px;
     margin: 10px;
     font-size:10pt;
     padding: 1px 2px;
     border-radius: 20px;
     display:inline-block;
     background-color: green;
 }
#novousuario{
    padding-left: 600px;
}

