@{
  ViewData["Title"] = "Privado";
}
<!doctyper html>
  <html lang="pt-br">

  <meta charset="utf-8">

  <head>
     <link rel="stylesheet" href="~/css/Exclusivo.css" />
  </head>
  <body id="quem">
    </br>
    </br>
     </br>
    </br>
     </br>
     </br>
    </br>
<b>
<p id="somos">Quem somos?</p>
</b>
 </br>
    </br>
     </br>
    </br>
     </br>
     </br>
<p id="quadro">We are a company specialized in brand events, capable of presenting turnkey concepts and solutions to our clients, from conception to final report, through brand activation, graphic design and conception and management of social networks. With a young, creative and at the same time very experienced team that allows us to open various areas of the market, we seek to find solutions suited to the diverse needs of our customers. Present for several years in the event production and promotion market and with extensive experience in the sector, we are continuously behind the scenes of several major events in Portugal.</p>
  </body>


   